<html>
    <head>
        <title>Socket.IO Test</title>
        
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="javascripts/socket.io.js"></script>
        <script src="javascripts/jquery-3.4.1.js"></script>
    </head>    
<body>
<div class="container">
    <form id="form" name="myform" autocomplete="off">
        <input id="input" name="text" type="text">
        <button id="send" name="btn">Send</button>
    </form>
    <button id="disconnect">Disconnect</button>
    <div class="messageArea">
            <ul id="message"></ul>
    </div>
</div>
<div class="clients">

</div>
<script src="javascripts/front.js"></script>
</body>
</html>